
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col s12 m6">
        <div class="card light-blue">
            <div class="card-content white-text">
                <span class="card-title">Cadastrar um Livro</span>
                <p>
                    Cadastre um novo livro
                </p>
            </div>
            <div class="card-action">
                @Html.ActionLink("Cadastrar", "Create")
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card light-blue">
            <div class="card-content white-text">
                <span class="card-title">Listar Livros</span>
                <p>
                    Visualize todos os livros cadastrados
                </p>
            </div>
            <div class="card-action">
                @Html.ActionLink("Listar", "Details")
            </div>
        </div>
    </div>

</div>