@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="card col s10 m4">
       <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/imagens/dev.jpg">
       </div>
       <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">O Programador<i class="material-icons right">more_vert</i></span>
               <p><a href="https://www.linkedin.com/in/matheus-silva-023384119/"> Acesse meu Linkedin...</a></p>
        </div>
        <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">Matheus Silva<i class="material-icons right">close</i></span>
               <p>Aplicando o conhecimento obtindo durante curso de ASP .NET MVC .</p>
        </div>
     </div>
</div>